body{
    background-color:#1e333d;
    font-family: 'Times New Roman', Times, serif;
}
.head{
    background-color: #333;
    color: #fff;
    text-align: center;
    left: 0%;
    right: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}
.first {
    border-radius: 5px;
    background-color: #74f064;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 18%;
    width: 30%;
    height: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.first:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 15px 5px rgba(116, 240, 100, 0.7); 
}

.second{
    border-radius: 5px;
    position:absolute;
    left: 35%;
    right: 2%;
    top: 18%;
    width: 30%;
    height: 30%;
    background-color: rgb(236, 136, 13);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.second:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 5px rgba(236, 136, 13); 
}
.Third{
    border-radius: 5px;
    position:absolute;
    left: 68%;
    right: 2%;
    top: 18%;
    width: 30%;
    height: 30%;
    background-color: rgba(119, 229, 236, 0.979);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Third:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 5px rgba(119, 229, 236, 0.979); 
}

.forth{
    border-radius: 5px;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 53%;
    width: 30%;
    height: 30%;
    background-color: lightpink;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.forth:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 15px 5px lightpink;
}
.fifth{
    border-radius: 5px;
    position: absolute;
    left: 35%;
    right: 2%;
    top: 53%;
    width: 30%;
    height: 30%;
    background-color:darkgray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fifth:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 15px 5px darkgray; 
}
.six{
    border-radius: 5px;
    position: absolute;
    left: 68%;
    right: 2%;
    top: 53%;
    width: 30%;
    height: 30%;
    background-color:rgb(217, 231, 84);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.six:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 15px 5px rgb(217, 231, 84); 
}
.hedding{
    left: 2%;
    right: 0%;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 10%;
}
.he{
    font-family: 'Times New Roman', Times, serif;
    font:bold;
    color:chocolate;
}
.hedding1{
    left: 2%;
    right: 0%;
    position: absolute;
    top: 86%;
    width: 100%;
    height: 10%;
    
}
.error{
    color: red;
    font-weight: bold;
}

.b{

position: relative;
cursor: text;
font-size: 14px;
line-height: 20px;
padding: 0 16px;
height: 23px;
background-color: #fff;
border: 1px solid #d6d6e7;
border-radius: 3px;
color: rgb(35, 38, 59);
box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
overflow: hidden;
transition: all 100ms ease-in-out;
:focus {
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}
}
.lables{
    font-family:cursive;
}
.b1{
   cursor: pointer;
   text-align: center;
   font-family:cursive;
   border-radius: 5px;
   border-color: beige;
   width:fit-content;
   
}
.b1:hover{
    
    background-color:rgb(172, 233, 235);
    color: white;
    border-color: rgb(181, 223, 216);
}
.string1{
    
        border-radius: 5px;
        position: absolute;
        left: 2%;
        right: 2%;
        top: 94%;
        width: 30%;
        height: 35%;
        background-color:rgb(95, 122, 182);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.string1:hover {
        transform: translateY(-10px); 
        box-shadow: 0 0 15px 5px rgb(46, 157, 221); 
    }
.string2{
    
    border-radius: 5px;
    position: absolute;
    left: 35%;
    right: 2%;
    top: 94%;
    width: 30%;
    height: 35%;
    background-color:rgb(56, 202, 11);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.string2:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 15px 5px rgb(56,202,11); 
}
.TD{
    border-radius: 5px;
    position: absolute;
    left: 68%;
    right: 2%;
    top: 94%;
    width: 30%;
    height: 35%;
    background-color:rgb(202, 157, 11);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.TD:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 15px 5px rgb(204, 127, 12); 
}